# Byte-compiled / optimized / DLL files
__pycache__/
*.DS_Store
*.py[cod]
*$py.class
*.conf

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs
